@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Throw Exception", "Throw")
    </div>
</body>
</html>