<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="Airbrake.ProjectId" value="127178" />
        <add key="Airbrake.ProjectKey" value="e0246db6e4e9214b24ad252e3c99a0f6" />
        <add key="Airbrake.LogFile" value="airbrake.log" />
    </appSettings>
</configuration>